<center>
    <form action="/index/" method="POST">
        <br>
        <div style="font-size:1.75em;" >Please enter text</div>
        <br>
        <textarea style="height:300px;width:800px" name="docs"></textarea>
        <br><br>
        <input style="height:30px;width:100px;border-radius:5%;" type = "submit">
    </form>

    <form action="/index/" method="POST" enctype="multipart/form-data">
        <br>
        <div style="font-size:1.75em;" >Or you can upload a pdf also.</div>
        <br>
        <input type="file" name="file">
        <br><br>
        <input style="height:30px;width:100px;border-radius:5%;" type = "submit">
    </form>
</center>
